name: shell commands

on:
  - push
jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        users: actions/checkout@v1
      - name: Multi line string
        run: | 
          pwd
          ls -a